.frame {
    display: flex;
    justify-content: space-between;
    /* align-items: stretch; */
    width: 100%;
    height: 100%;
}

.panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    padding: 10px;
    /* margin: 10px; */
    /* background-color: #fff; */
}

.tag_sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    margin: 15px 0;
}

#count {
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    line-height: 20px;
    width: 100%;
    text-align: center;
}

.tag_count {
    position: relative;
    font-weight: 600;
    color: white;
    line-height: 50px;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.05);

    box-sizing: border-box;
    /* border: 1px solid transparent; */
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.color_indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 8px;
    height: 8px;
    border-radius: 8px;
}

.tag_label {
    margin-top: 5px;
    font-size: 12px;
    color: rgb(0, 247, 0) !important;
    word-break: normal;
}

#left {
    padding: 0 40px 0px 10px;
    line-height: 0px;
    letter-spacing: 1px;
}

#text {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.sep_word {
    margin: 2px -2px;
    padding: 7px;
    background-color: transparent !important;
    display: block;
    position: relative;
    font-size: 16px;
    height: 16px;
    line-height: 16px;
    border-radius: 7px;
}

/* .sep_word::after {
    content: "";
    display: block;
    position: relative;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 7px;
    opacity: 0;
    width: calc(100% + 14px);
    height: 34px;
    transform: translateY(-18px) translateX(-8px);
} */

/* .sep_word:hover::after {
    opacity: 1;
} */

#right_placeholder {
    min-width: 340px;
    height: 700px;
    width: 400px;
}

#right {
    z-index: 10;
    height: 100%;
    width: 350px;
    position: fixed;
    right: 40px;
    margin: 50px 0;
}

#info {
    padding: 40px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    /* height: 300px; */
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 0.05);
    color: rgba(255, 255, 255, 0.8);
}

#fileUpload {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#fileUpload+label {
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 0.05);
    width: 350px;
    font-weight: 700;
    text-align: center;
    word-spacing: 7px;
    letter-spacing: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 20px 0px;
    text-transform: uppercase;
}

.true {
    color: #00d600;
}

.true::after {
    content: "2";
    margin-left: 12px;
    background-color: #00d600;
    width: 10px;
    height: 10px;
}

.false {
    color: #444;
}

.false::after {
    content: "2";
    color: #333;
    margin-left: 10px;
    background-color: #333;
    width: 10px;
    height: 10px;
}

.line {
    display: flex;
    margin: 6px 0;
    padding: 0 15px;
    justify-content: space-around;
    font-size: 12px;
}

.line>.value {
    width: 60%;
    word-wrap: break-word;
    line-height: 14px;
}

.line>.attr {
    font-weight: bolder;
    width: 85px;
    text-align: right;
}