@import url('https://fonts.googleapis.com/css?family=Montserrat:300,700');

* {
    margin: 0;
    color: #fff;
    font-family: 'Montserrat';
}

body {
    background-color: rgb(30, 30, 30);
}

.container {
    padding: 50px;
    margin: 0;
    position: absolute;
}