@import url('https://fonts.googleapis.com/css?family=Montserrat:300,700');

* {
    margin: 0;
}

.container {
    padding: 50px;
    margin: 0;
    position: absolute;
    background-color: rgb(30, 30, 30);
    color: #fff;
    font-family: 'Montserrat';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}